<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WebAPI2</title>
</head>
<body>
    <a href="/Home/myindex">跳转到API2的验证机制测试页面</a><br /><br />
</body>
</html>
